body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.lead-center{
    text-align: justify;
}
.oculto { display: none; }
.visible { display: inline; }

.answers{
    background-color: aliceblue;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#unDiv{
    background-color: black;
    height: 100px;
    width: 100px;
}

p, li{
    font-size: 20px;
}